.UserNav-nav {
  width: 8rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: .2rem;
  background-color: var(--secondary-bg-color);
  border-radius: 0 0 .5rem .5rem;
  height: 0vh;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.UserNav-nav.isActive {
  height: 11rem;
  opacity: 1;
}

.UserNav-nav.isActiveLog {
  height: 3rem;
  opacity: 1;
}

.UserNav-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UserNav-li {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  margin: .1rem;
  cursor: pointer;
  transition: all 0.5s ease;

}

.UserNav-li:hover {
  color: var(--text-hover-color);
  box-shadow: 0 2px 0 0 currentcolor;
}

@media screen and (max-width:480px) {
  .UserNav-li {
    font-size: 1rem;
  }
}