.Catalogue{
    background-color: var(--light-tone);
    padding: 1rem;
    position: relative;
}
.catalogue-header{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
.Catalogue-cart{
margin-top: .6rem;
}
.Cart-button{
    height: 3rem;
    width: 3rem;
}
.Cart-button:hover{
    cursor: pointer;
}
.Cart-svg{
    height: 100%;
    width: 100%;
    color: var(--text-hover-color);
}
.Cart-svg:hover{
    color: var(--text-color);
}
.Catalogue-Products{
    display: flex;
    flex-direction: row;
    
}