.ShoppingCart {
  position: fixed;
  height: 0rem;
  opacity: 0;
  overflow: hidden;
  width: 50%;
  left: 20rem;
  top: 15rem;
  color: var(--primary-text-color);
  background-color: var(--light-terciary-color);
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  overflow-y: auto;
  transition: all 0.8s ease;
}

.ShoppingCart.isActive {
  height: 20rem;
  left: 20rem;
  top: 15rem;
  opacity: 1;
}

.ShoppingCart-head {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 1rem;
  font-size: 2.5rem;
  font-weight: bolder;
}

.ShoppingCart-exit {
  font-size: 2rem;
}
.ShoppingCart-Clear {
  font-size: 1rem;
  background-color: var(--light-tone);
  color: var(--text-color);
  text-align: center;
  width: 10rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  margin-top: 4rem;
}
.ShoppingCart-Clear:hover{
  cursor:pointer;
}
.ShoppingCart-exit:hover {
  cursor: pointer;
  color: red;
}

.ShoppingCart-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.ShoppingCart-img {
  width: 100%;
  max-width: 7rem;
  max-height: 7rem;
  border-radius: 0.5rem;
}

.ShoppingCart-name {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0.2rem 0;
}

.ShoppingCart-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ShoppingCart-functions {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-disabled);
}

.ShoppingCart-remove {
  font-size: 1.2rem;
  background-color: var(--light-tone);
  text-align: center;
  width: 1.5rem;
  height: 1.4rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.ShoppingCart-add {
  font-size: 1.2rem;
  background-color: var(--light-tone);
  text-align: center;
  width: 1.6rem;
  height: 1.4rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.ShoppingCart-add:hover,
.ShoppingCart-remove:hover {
  cursor: pointer;
  background-color: var(--text-hover-color);
  color: var(--secondary-text-color);
}

.ShoppingCart-quantity {
  background-color: var(--light-bg-color);
  color: var(--secondary-text-color);
  text-align: center;
  width: 1.6rem;
  height: 1.4rem;
}

.ShoppingCart-Price {
  margin-top: 2rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.ShoppingCart-Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ShoppingCart-Total {
  display: flex;
  flex-flow: column nowrap;
  margin: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-text-color);
}

.ShoppingCart-done {
  font-size: 1.2rem;
  background-color: var(--light-tone);
  color: var(--text-color);
  text-align: center;
  width: 10rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-top: 4rem;
}

.ShoppingCart-done:hover {
  cursor: pointer;
  background-color: var(--text-hover-color);
  color: var(--secondary-text-color);
}
.ShoppingCart-taxText{
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--disabled-text-color);
}

@media screen and (max-width: 480px) {
  .ShoppingCart {
    width: 70%;
    left: 4.5rem;
  }

  .ShoppingCart.isActive {
    left: 4.5rem;
  }

  .ShoppingCart-head {
    margin: 1rem;
    font-size: 2rem;
  }

  .ShoppingCart-empty {
    display: none;
  }

  .ShoppingCart-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ShoppingCart-img {
    width: 100%;
    max-width: 6rem;
    max-height: 6rem;
    border-radius: 0.5rem;
    margin: 0.1rem;
  }

  .ShoppingCart-name {
    font-size: 1rem;
    font-weight: bold;
  }
}
