:root {
  --light-bg-color: #f7fcf7;
  --light-secondary-color: #f0f0f0;
  --light-terciary-color: #dfe2de;
  --primary-text-color: #1b1c1b;
  --secondary-text-color: #3b3e3b;
  --disabled-text-color: #7a7e7a;
  --hover-text-tone: #2bd91d;
  --hover-color: #79d172;
}

.Payment {
  width: 100%;
  height: 100%;
  background-color: var(--light-bg-color);
  font-size: 2rem;
  padding: 1rem;
  color: var(--primary-text-color);
}

.Payment-h1 {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  margin: 1rem;
}
.Payment-h1::selection {
  background-color: var(--secondary-bg-color);
  color: var(--text-disabled);
}

.Payment-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
}

.Payment-p {
  font-size: 1rem;
  margin: 0.5rem;
  color: var(--secondary-text-color);
}
.Payment-p::selection {
  background-color: var(--secondary-bg-color);
  color: var(--text-disabled);
}

.Payment-h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem;
}
.Payment-h2::selection {
  background-color: var(--secondary-bg-color);
  color: var(--text-disabled);
}

@media screen and (max-width: 480px) {
  .Payment-h1 {
    font-size: 2.5rem;
    margin: 1rem;
  }

  .Payment-div {
    display: flex;
    margin-left: .5rem;
  }
  
  .Payment-p {
    font-size: 1rem;
    margin: 0.5rem;
  }
  
  .Payment-h2 {
    font-size: 1.5rem;
    margin: 0.5rem;
  }

}
