:root {
  --light-bg-color: #e1efe0;
  --light-secondary-color: #b6c4b5;
  --light-terciary-color: #96a395;
  --primary-text-color: #171918;
  --secondary-text-color: #303633;
  --disabled-text-color: #47524d;
  --hover-text-tone: #2bd91d;
  --hover-color: #79d172;
}

.Payment {
  width: 100%;
  height: 100%;
  background-color: var(--light-bg-color);
  font-size: 2rem;
  padding: 1rem;
  color: var(--primary-text-color);
}

.Payment-h1 {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  margin: 1rem;
}

.Payment-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
}

.Payment-p {
  font-size: 1rem;
  margin: .5rem;
  color: var(--secondary-text-color);
}

.Payment-h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: .5rem;
}