.Profile {
  width: 100%;
  height: 1000px;
  background-color: var(--terciary-bg-color);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}
.Profile-Card {
  width: 30rem;
  background-color: var(--secondary-bg-color);
  border-radius: 1rem;
  padding: 1rem;
}
.Profile-Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Profile-Name {
  font-size: 3rem;
  margin: 1rem;
  text-transform: capitalize;
  text-decoration: underline;
}
.Profile-div{
  margin:1rem;
  font-size: 1.5rem;
}
.Profile-section {
  margin: .5rem 0;
}
.Profile-content {
  width: 26rem;
  color:var(--light-tone);
  background-color: var(--terciary-bg-color);
  border-radius: .5rem;
  padding: .5rem;
}
