:root {
  --primary-bg-color: #171918;
  --secondary-bg-color: #303633;
  --terciary-bg-color: #47524d;
  --light-tone: #82938c;
  --hover-tone: #41a757;
  --text-color: #eafff2;
  --text-disabled: #c2c2c2;
  --text-hover-color: #5dff53;
}

.LandingMenu {
  width: 100%;
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  color: var(--text-color);
}
.LandingMenu-Container {
  width: 100%;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
}
.Container-sub--a {
  padding-left: 1rem;
  padding-right: 2rem;
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--primary-bg-color);
  margin: 0.5rem 0;
}
.Container-sub--b {
  padding-left: 1rem;
  padding-right: 2rem;
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--secondary-bg-color);
  margin: 0.5rem 0;
}
.Container-sub--user {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.Container-sub--search {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.Container-sub--contact {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.LandingMenu-h1 {
  font-weight: bold;
  font-size: 2rem;
}
.LandingMenu-Input {
  padding: 1rem;
  font-weight: bold;
  width: 20rem;
  height: 2rem;
  background-color: var(--terciary-bg-color);
  border-radius: 1rem 0 0 1rem;
}
.LandingMenu-Input:focus {
  outline: none;
  background-color: var(--secondary-bg-color);
}
.LandingMenu-SearchBtn {
  border-radius: 0 1rem 1rem 0;
  height: 2rem;
  cursor: pointer;
  background-color: var(--light-tone);
}
.LandingMenu-SearchBtn:hover {
  background-color: var(--hover-tone);
}
.LandingMenu-UserBtn {
  cursor: pointer;
}
.LandingMenu-logo {
  height: 7rem;
  width: 15rem;
}
.LandingMenu-Dropbutton {
  display: none;
  cursor: pointer;
}

.LandingMenu-svg {
  margin: 0 1rem;
  width: 2.5em;
  height: 2.5em;
  fill: white;
}
.LandingMenu-svg--search {
  width: 1.5rem;
  height: 1.5rem;
}
.LandingMenu-svg--user:hover {
  fill: var(--text-hover-color);
}
.LandingMenu-svg--contact {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 1rem;
}
.LandingMenu-a--contact {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
}
.LandingMenu-a--contact:hover {
  color: var(--text-hover-color);
}
.Contact-Button {
  display: none;
}
.LandingMenu-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
}
.LandingMenu-li {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  margin: 0 2rem;
}
.LandingMenu-ul:hover .LandingMenu-a {
  color: var(--text-disabled);
}
.LandingMenu-ul:hover .LandingMenu-a:hover {
  color: var(--text-hover-color);
  box-shadow: 0 2px 0 0 currentcolor;
}
a.active {
  color: var(--text-hover-color);
}

/* ___Parte Responsive 480px(movil)__*/

@media screen and (max-width: 480px) {
  .LandingMenu {
    padding: 0;
  }
  .Container-sub--a {
    padding-left: 0;
    padding-right: 0.5rem;
    margin: 0;
  }
  .Container-sub--b {
    height: 3rem;
    padding-left: 0;
    padding-right: 0.5rem;
    margin: 0;
  }
  .Container-sub--user {
    height: 2rem;
    margin-top: 0.4rem;
  }
  .Container-sub--contact {
    display: none;
  }
  .LandingMenu-svg--contact {
    display: none;
  }
  .LandingMenu-svg {
    width: 1.8rem;
    height: 1.8rem;
  }
  .Contact-Button {
    margin-top: 0.1rem;
    cursor: pointer;
    display: flex;
  }
  .Contact-Button .LandingMenu-svg:hover {
    fill: var(--text-hover-color);
  }
  .LandingMenu-Input {
    padding: 1rem;
    font-weight: bold;
    width: 14rem;
    height: 1.5rem;
    border-radius: 1rem 0 0 1rem;
  }
  .LandingMenu-logo {
    height: 5rem;
    width: 7.2rem;
  }
  .LandingMenu-Dropbutton {
    margin-top: 0.5rem;
    display: flex;
  }
  .LandingMenu-nav {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .LandingMenu-nav.isActive {
    width: 6rem;
    opacity: 1;
  }
  .LandingMenu-ul {
    flex-direction: column;
  }
  .LandingMenu-li {
    margin: 0.5em 0;
    font-size: 1.2rem;
  }
}
